/* estilos generales*/
* {
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 5px;
}

/* Contenedor*/
.container {
    max-width: 95%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

/* Tabla */
.table-container {
    width: 100%;
    overflow-x: auto;
    position: relative;
    z-index: 1;
    white-space: nowrap;
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 700px;
}

th,
td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: #fff;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Acciones de tabla */

.actions-cell a {
    cursor: pointer;
    user-select: none;
}

.btn-edit {
    color: #28a745;
    text-decoration: none;
    font-weight: bold;
}

.btn-delete {
    color: #dc3545;
    text-decoration: none;
    font-weight: bold;
}

/* Botonoes flotantes*/

.fab-actions {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 9999;
}

.fab-btn {
    width: 52px;
    height: 52px;
    border-radius: 50px;
    background-color: #198754;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.fab-primary {
    background-color: #0d6efd;
}

.fab-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.35);
}

/* Para pantalla movil */
@media (max-width: 1024px) {
    .container {
        padding: 10px;
    }

    table {
        min-width: 600px;
        white-space: nowrap;
    }

    th,
    td {
        padding: 8px;
        font-size: 14px;
    }

    .fab-actions {
        bottom: 16px;
        right: 16px;
        z-index: 9999;
    }

    .fab-btn {
        width: 60px;
        height: 60px;
        font-size: 22px;
    }
}