.modalNPedido {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
    overflow-y: auto;
}

.modal-contenido-pedido {
    background: #fff;
    max-width: 600px;
    width: 95%;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    animation: aparecer .3s ease;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.cerrar-modal {
    position: absolute;
    top: 12px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

.form-group-pedido {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-group-pedido input,
.form-group-pedido select,
.form-group-pedido textarea {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.alimentos-scroll {
    max-height: 300px;
    /* altura visible */
    overflow-y: auto;
    /* scroll vertical */
    border: 1px solid #ddd;
    padding: 8px;
    background: #fff;
}

.form-actions-pedido {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
}

.btn-submit {
    background: #0d6efd;
    color: #fff;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
}

.btn-cancel {
    background: #6c757d;
    color: #fff;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}